<ons-page id="company.html" modifier="Ecommerce cate" ng-controller="companyctrl">
    <ons-toolbar modifier="Ecommerce">
        <div class="left">
            <ons-toolbar-button ng-click="Back()">
                <ons-icon icon="ion-ios-arrow-back"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center"  ng-bind="LanguageEcom.THUONG_MAI_DIEN_TU">
            Thương mại điện tử
        </div>
        <div id="tabright-cate" class="right">

        </div>
    </ons-toolbar>

    <!-- <div class="rowcom" style="margin-top: 0; padding: 10px 0;background-color:#e6e6e6">
            <div ng-click="ShowEcom()" style="background-color:#f9f9f9;box-shadow: 0 0 3px #b7b7b7; border-radius: 4px; width:calc(50% - 42px);padding:10px"  class="colcom">
                    <img src="ecommerce/img/company/logo.png" />
            </div>
            <div ng-click="ShowEcom()" style="width:calc(50% - 42px);padding:10px ;background-color:#f9f9f9;box-shadow: 0 0 3px #b7b7b7; border-radius: 4px"  class="colcom">
                    <img src="ecommerce/img/company/logo2.png" />
            </div>
    </div> -->
    <div class="rowcom">
        <div class="colcom" ng-click="ShowEcom()">
            <img src="ecommerce/img/company/RynanAgrifoods.png" />
        </div>
        <div class="colcom" ng-click="ShowEcom()">
            <img src="ecommerce/img/company/RYNANSmart.png" />
        </div>
        <div class="colcom" ng-click="ShowEcom()">
            <img src="ecommerce/img/company/RYNANTech.png" />
        </div>
    </div>
    <div class="rowcom">
        <div class="colcom">
            <img src="ecommerce/img/company/bigc.png" />
        </div>
        <div class="colcom">
            <img style="border:1px solid #c5c5c5" src="ecommerce/img/company/CP-Brand.png" />
        </div>
        <div class="colcom">
            <img src="ecommerce/img/company/petro.png" />
        </div>
    </div>
    <div class="rowcom">
        <div class="colcom">
            <img src="ecommerce/img/company/dienquang.png" />
        </div>

        <div class="colcom">
            <img style="border:1px solid #bb464a" src="ecommerce/img/company/gasone.png" />
        </div>
        <div class="colcom">
            <img src="ecommerce/img/company/vietnamairlines.png" />
        </div>
    </div>
    <div class="rowcom">
        <div class="colcom">
            <img src="ecommerce/img/company/sacombank.png" />
        </div>
        <div class="colcom">
            <img style="border:1px solid #2bb5a3" src="ecommerce/img/company/viettel.png" />
        </div>
        <div class="colcom">
            <img src="ecommerce/img/company/samsung.png" />
        </div>

    </div>
    <div class="rowcom">
        <div class="colcom">
            <img style="border:1px solid #bb464a" src="ecommerce/img/company/mega-market.png" />
        </div>
        <div class="colcom">
            <img style="border:1px solid #bb464a" src="ecommerce/img/company/honda_logo.png" />
        </div>

        <div class="colcom">
            <img style="border:1px solid #bb464a" src="ecommerce/img/company/yanmar.png" />
        </div>
    </div>
    <div class="rowcom">
        <div class="colcom">
            <img style="border:1px solid #bb464a" src="ecommerce/img/company/fv.png" />
        </div>
        <div class="colcom">
            <img style="border:1px solid #bb464a" src="ecommerce/img/company/kinhdo.png" />
        </div>
        <div class="colcom">
            <img src="ecommerce/img/company/saigon.png" />
        </div>

    </div>
</ons-page>