<ons-page id="adsdetail.html" modifier="page_bg swm" ng-controller="adsdetailctrl">
    <ons-toolbar style="border-bottom: 1px solid rgba(1, 1, 1, .5);box-shadow: 0 0 3px 0 rgba(1, 1, 1, .3);">
        <div class="left">
            <ons-toolbar-button ng-click="Back()">
                <i class="ion-ios-arrow-left"></i>
            </ons-toolbar-button>
        </div>
        <div class="center">
            TỔNG QUAN DỰ ÁN
        </div>
        <div class="right">
        </div>
    </ons-toolbar>
    <div style="line-height: 1.5;padding: 10px;color:whitesmoke">
        <div ng-if="Data.ID=='ad01'">
            <div>
                Cityland Luxury Villas là một trong những dự án lớn tại thành phố Hà Nội và đang được Công ty TNHH Đầu tư Địa ốc Thành Phố
                tiến hành thủ tục đầu tư để triển khai dự án trong thời gian sớm nhất.
                <img src="img/ad/biet-thu-lien-ke-cityland-luxury-villas-me-tri-ha-noi.jpg" style="width: 100%;padding: 10px 0;" />                Dự án tọa lạc tại xã Mễ Trì, huyện Từ Liêm, thành phố Hà Nội với tổng mức đầu tư 1.750 tỷ đồng trên tổng
                diện tích 6 ha. Dự án sẽ được xây dựng tại một trong những khu vực đang phát triển của thành phố Hà Nội,
                với những công trình lớn của quốc gia tại đây như: Trung tâm Hội nghị Quốc gia Việt Nam, trụ sở mới của Bộ
                Ngoại giao,...
            </div>
        </div>
        <div ng-if="Data.ID=='ad02'">
            <img src="img/ad/cityland-riverside-1_1.png" style="width: 100%;padding: 10px 0;" />
            <div style="width:100%;text-align:center;font-style: italic">Phối cảnh tổng quan dự án Cityland Riverside.</div>
            <div style="font-weight:600">Vị trí hấp dẫn</div>
            <div>Tọa lạc ngay tại số 99, Nguyễn Thị Thập, Phường Tân Phú, Quận 7, Tp. HCM, dự án CityLand Riverside sở hữu một
                cảnh quan cuốn hút với dòng Cả Cấm vắt ngang, tạo nên khu biệt thự mặt sông đầy thơ mộng. Địa thế hấp dẫn
                ngay khu Đô thị Phú Mỹ Hưng – khu vực phát triển sầm uất Nam Sài Gòn, cùng cơ sở hạ tầng hiện đại, kiến trúc
                châu Âu cổ điển sang trọng, đã hình thành một khu đô thị kiểu mẫu CityLand Riverside đẳng cấp với những điều
                kiện sống trên cả tuyệt vời.
            </div>
            <div>
                <strong>Môi trường trong xanh – không gian hoàn hảo   </strong>
                <br/> CityLand Riverside là nơi hội tụ những cư dân tri thức và thành đạt, không gian sống thanh bình, xanh
                mát như một khu sinh thái. Được xây dựng trên diện tích 9,4ha với tổng kinh phí đầu tư lên đến 3.933 tỷ đồng,
                bao gồm 23 căn nhà phố liền kế, 22 căn biệt thự đơn lập, 46 căn biệt thự song lập.
                
                <img src="img/ad/Biet-thu-cityland-riverside.JPG" style="width: 100%;padding: 10px 0;" />
            </div>
            <div>Thừa hưởng vị trí đắc địa và sở hữu cảnh quan thiên nhiên hài hòa, thơ mộng, khu dân cư CityLand Riverside giúp
                bạn cùng gia đình khám phá những điều mới lạ và tận hưởng cuộc sống bình yên giữa không gian trong lành.
            </div>
            <div> CityLand quan niệm cuộc sống là đẳng cấp nên đã chú trọng tạo ra một môi trường sống trong lành với việc đầu
                tư không gian xanh rộng khoảng 1 héc ta, gồm các công viên trung tâm và công viên ven sông, tạo nên một khu
                dân cư xanh, sạch, đẹp và thơ mộng, yên bình, tách xa cuộc sống xô bồ, ồn ã của thành phố.
                <img src="img/ad/DSCF5160.JPG" style="width: 100%;padding: 10px 0;" />
             </div>
        </div>
        <div ng-if="Data.ID=='ad03'">
            <div>
                Vào ngày 01/11/2013, được sự phê duyệt tổng quy hoạch 1/500 của UBND Thành phố, Công ty TNHH Đầu tư Địa ốc Thành Phố đã chính
                thức trở thành chủ đầu tư của dự án khu dân cư CityLand Park Hills tại trung tâm quận Gò Vấp (tiền thân thuộc
                Xí nghiệp liên hợp Z751 - khu BD)

            </div>
            <div>
                Quy mô của dự án lên đến 26,98 héc ta, vốn đầu tư khoảng 6.000 tỷ đồng, sẽ cung cấp cho thị trường 973 căn nhà phố, biệt
                thự, 968 căn hộ, 01 đại siêu thị Lotte Mart rộng hơn 2 héc ta, 01 trường mầm non và trường phổ thông liên
                cấp, 01 trung tâm y tế và công viên cây xanh hơn 2 héc ta.
                <img src="img/ad/cityland-park-hills-go-vap.jpg" style="width: 100%;padding: 10px 0;" />
            </div>
            <div>
                Với thiết kế châu Âu sang trọng và các hạ tầng kỹ thuật tân tiến bậc nhất, cùng với một không gian biệt lập, dân cư trong
                dự án sẽ được thụ hưởng một cuộc sống đẳng cấp với hàng loạt những tiện ích sống vô cùng phong phú và hiện
                đại, như: trường học, bệnh viện quốc tế, trung tâm thương mại hàng đầu khu vực, công viên cây xanh, sân thể
                thao…
                <img src="img/ad/cityland-park-hills-nha-pho.png" style="width: 100%;padding: 10px 0;" />
                <div style="width:100%;text-align:center;">
                    Phối cảnh nhà phố
                </div>
                <img src="img/ad/Chung-cu-cityland-park-hills.png" style="width: 100%;padding: 10px 0;" />
            </div>
        </div>
        <div ng-if="Data.ID=='ad04'">
            <div>
                Nằm trong khu dự án dân cư cao cấp bậc nhất Quận Gò Vấp Cityland Park Hills, dự án căn hộ Park Hills có quy mô 18.088,33m2,
                bao gồm 5 block chung cư, sẽ cung cấp cho thị trường 968 căn hộ.
                <img src="img/ad/Chung-cu-cityland-park-hills.png" style="width: 100%;padding: 10px 0;" />
            </div>
            <div>
                <strong>Về dự án khu dân cư cao cấp Cityland Park Hills</strong><br/> Vào ngày 01/11/2013, được sự phê duyệt
                tổng quy hoạch 1/500 của UBND Thành phố, Công ty TNHH Đầu tư Địa ốc Thành Phố đã chính thức trở thành chủ
                đầu tư của dự án khu dân cư CityLand Park Hills tại trung tâm quận Gò Vấp (tiền thân thuộc Xí nghiệp liên
                hợp Z751 - khu BD). Khu dân cư Cityland Park Hills tọa lạc tại số 18 Phan Văn Trị, phường 10, quận Gò Vấp,
                Tp. Hồ Chí Minh. Quy mô của dự án khu dân cư Cityland Park Hills lên đến 27 héc ta, vốn đầu tư khoảng 6.000
                tỷ đồng, sẽ cung cấp cho thị trường 973 căn nhà phố, biệt thự, 5 tháp với 968 căn hộ. Dự án gồm 01 đại siêu
                thị Lotte Mart rộng hơn 2 héc ta, 01 trường mầm non và trường phổ thông liên cấp, 01 trung tâm y tế và công
                viên cây xanh hơn 2 héc ta.
                <img src="img/ad/cityland-Park-hills_birdviewnight.2016.09.20.jpg" style="width: 100%;padding: 10px 0;" />
                <div style="width:100%;text-align:center;font-style: italic">Khu căn hộ nằm trong khu đô thị cao cấp CityLand Park Hills</div>
            </div>
            <div>
                    <strong>Căn Hộ Park Hills – Sống xanh trọn vẹn</strong><br/> 
                Hoàn hảo với các tiêu chí: môi trường sống xanh, chất lượng bền vững, tiện nghi toàn vẹn, căn hộ Park Hills nổi bật lên như
                một nét đẹp hiện đại và trẻ trung trong lòng thành phố. Dự án căn hộ Park Hills nằm trong quy hoạch tổng
                thể của cả dự án phức hợp Cityland Park Hills, được xây dựng trên tổng diện tích 18.088,33m2, cung cấp cho
                thị trường 968 căn hộ. Căn hộ Park Hills được xây dựng với mật độ hợp lý, đảm bảo không gian căn hộ và không
                gian xanh toàn vẹn.
                <img src="img/ad/can-ho-park-hills.png" style="width: 100%;padding: 10px 0;" />
            </div>

        </div>
        <div ng-if="Data.ID=='ad05'">
            <div>
                    Lucky Palace là dự án phức hợp khu thương mại và căn hộ cao cấp hiếm có tại quận 6 - khu vực phát triển thương mại nổi tiếng sầm uất và lâu đời nhất Sài Gòn, hội tụ đầy đủ những yếu tố “vàng” từ vị trí tốt, nhiều tiện ích hiện đại và giao thông kết nối thuận tiện.                    
            </div>
            <img src="img/ad/hoboi.jpg" style="width: 100%;padding: 10px 0;" />
            <br/>
            <img src="img/ad/sanh1.jpg" style="width: 100%;padding: 10px 0;" />
            <br/>
            <img src="img/ad/sanh3.jpg" style="width: 100%;padding: 10px 0;" />
            <br/>
            <img src="img/ad/sanh4.jpg" style="width: 100%;padding: 10px 0;" />
        </div>
        <div ng-if="Data.ID=='ad06'">
                <iframe width="100%" src="https://www.youtube.com/embed/178o7w90PF4" frameborder="0" gesture="media" allowfullscreen></iframe>
            <div>
                RichStar sẽ là khu phức hợp đẳng cấp nổi bật trong khu vực với chuỗi tiện ích nội khu độc đáo hiếm có: 02 hồ bơi tràn rộng đến 1.700m2, trung tâm mua sắm, khuôn viên cây xanh, khu vui chơi trẻ em
                </div>
                <div>
                Các căn hộ có diện tích đa dạng từ 53 -> 94m2, giá từ 1.28 tỷ đồng, giao nhà hoàn thiện cơ bản. Richstar sẽ mang đến cư dân một cuộc sống thoải mái và tiện nghi mà khó có dự án nào tại khu vực sánh được.
            </div>
            <!-- <img src="img/ad/richstar-gioithieu-2.jpg" style="width: 100%;padding: 10px 0;" /> -->
        </div>
    </div>

</ons-page>