<on-page ng-controller="ChangePassword" id="changepassword.html" modifier="material2 swm">
    <ons-toolbar modifier="material" class="navigation-bar navigation-bar--material" style="-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.3);
    box-shadow: 0 0px 0px rgba(0,0,0,0.3);
    background-color: transparent;
    border-bottom: 0;">
        <ons-button modifier="large--quiet" class="left navigation-bar__left navigation-bar--material__left" ng-click="popPage()" style="padding-left: 25px;">
            <div class="icon-back ion-arrow-left-c">
            </div>
        </ons-button>
        <div class="center" ng-bind="Language.CHANGE_PASS"></div>
    </ons-toolbar>

    <div class="change-password">
        <div class="change-password-div" id="tabIndexChangePwd">
            <div class="firstInputStyle" id="oldPassword">
                <span class="icon ion-locked"></span><input type="password" maxlength="30" class="oldPassword" data-index="1"
                    maxlength="40" id="textInput" placeholder="Mật khẩu cũ" />
            </div>

            <div class="inputStyle" id="newPassword">
                <span class="icon ion-unlocked"></span><input type="password" maxlength="30" data-index="2" class="newPassword"
                    maxlength="30" id="textInput" placeholder="Mật khẩu mới" />
            </div>

            <div class="inputStyle" id="repeatPassword">
                <span class="icon ion-loop"></span><input type="password" maxlength="30" data-index="3" class="repeatPassword"
                    maxlength="40" id="textInput" placeholder="Nhập lại mật khẩu mới" />
            </div>

            <ons-button modifier="large--quiet" class="btnChange" ng-click="Change()">Thay đổi</ons-button>
        </div>
    </div>
</on-page>