<ons-page id="mainmovie.html" modifier="page_bg media">
        <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button onclick="Back()">
                        <i class="fa fa-chevron-left"></i>
                    </ons-toolbar-button>
                </div>
                <div class="center">
                    XEM PHIM TRỰC TUYẾN
                </div>
                <div class="right">
                    <ons-toolbar-button onclick="OpenMenu()" class="toolbar-button"><i id="main-menu" class="ion-navicon-round"></i></ons-toolbar-button>
                </div>
            </ons-toolbar>
    <ons-splitter id="slitter-movie">
        <ons-splitter-side id="menu" side="right" width="230px" collapse>
            <ons-page modifier="notop" ng-controller="menumoviectrl">
                <div class="top-menu-movie">
                    XEM PHIM TRỰC TUYẾN
                </div>
                <div  class="item-menu-movie">
                    <div onclick="ShowMovieByCate(-1)">Trang Chủ</div>
                </div>
                <div class="item-menu-movie">
                    <div ng-click="ShowChildMenu()" style="float: left;
                    position: relative ;width: 100%;">Thể Loại
                        <div style="position: absolute;
                    top: 50%;
                    transform: translateY(-50%) ;
                    right: 10px;"><i class="ion-android-more-vertical"></i>
                        </div>
                    </div>
                    <div id="typemovie" style="float:left;padding:10px;display:none">
                        <div id="{{item.MediaType}}" onclick="ShowMovieByCate(this)" class="child-menu-child" ng-repeat="item in ListCateMovie" ng-bind="item.Description">

                        </div>
                    </div>
                </div>
                <div onclick="ShowMovieByCate(-2)" class="item-menu-movie">
                    <span>Phim Lẻ</span>
                </div>
                <div onclick="ShowMovieByCate(-3)" class="item-menu-movie">
                    <span>Phim Bộ</span>
                </div>
            </ons-page>
        </ons-splitter-side>
        <ons-splitter-content id="content" page="media/html/movie.html"></ons-splitter-content>
    </ons-splitter>

</ons-page>